html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

#slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}